{% if not app.request.isXmlHttpRequest() %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% trans from 'common' %}project.title{% endtrans %}{% endblock %}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="{% trans from 'common' %}project.author{% endtrans %}">
		<link rel="stylesheet" href="{{ asset('bundles/fulguriomedialibrarymanager/bootstrap/dist/css/bootstrap.min.css') }}">
		<link href="{{ asset('bundles/fulguriomedialibrarymanager/css/mlm.css') }}" rel="stylesheet">
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/jquery/dist/jquery.min.js') }}"></script>
{% block css %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('FulgurioMLMHomepage') }}">{% trans from 'common' %}project.title{% endtrans %}</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li{% if app.request.attributes.get('_route') == 'FulgurioMLMHomepage' %} class="active"{% endif %}><a href="{{ path('FulgurioMLMHomepage') }}">{% trans from 'common' %}homepage{% endtrans %}</a></li>
						<li{% if app.request.attributes.get('_route')|slice(0, 17) == 'FulgurioMLM_Book_' %} class="active"{% endif %}><a href="{{ path('FulgurioMLM_Book_List') }}">{% trans from 'book' %}book.title{% endtrans %}</a></li>
						<li{% if app.request.attributes.get('_route')|slice(0, 18) == 'FulgurioMLM_Music_' %} class="active"{% endif %}><a href="{{ path('FulgurioMLM_Music_List') }}">{% trans from 'music' %}music.title{% endtrans %}</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
{% endif %}
{% block content %}{% endblock %}
{% if not app.request.isXmlHttpRequest() %}
		</div>
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% block javascript %}{% endblock %}
	</body>
</html>
{% endif %}