{% extends '@FulgurioMediaLibraryManager/base.html.twig' %}

{% trans_default_domain 'book' %}

{% set title = ((book.id ? 'edit': 'add') ~ '.label')|trans({ '%TITLE%': book.title }) %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
{{ form_start(form, {'attr': { 'class': 'form-horizontal form-book' }}) }}
{{ form_errors(form) }}
	<div class="row">
		<div class="col-md-6">
{{ form_errors(form) }}
{{ form_row(form.author) }}
{{ form_row(form.title) }}
{{ form_row(form.media_type, { 'group_class': 'col-sm-5' }) }}
{{ form_row(form.ean, { 'group_class': 'col-sm-4' } ) }}
{{ form_row(form.publication_year, { 'group_class': 'col-sm-3' }) }}
{{ form_row(form.publisher) }}
{{ form_row(form.coverFile) }}
		</div>
	</div>
	<div class="form-actions form-actions-fixed-bottom">
		<input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
        {{ form_row(form.submit) }}
		<a href="{{ path('FulgurioMLM_Book_List') }}" class="btn">{% trans from 'common' %}cancel{% endtrans %}</a>
	</div>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}

{% block css %}
	<link href="{{ asset('bundles/fulguriomedialibrarymanager/bootstrap-fileinput/css/fileinput.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
	<script src="{{ asset('bundles/fulguriomedialibrarymanager/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
{% endblock %}
