{% extends '@FulgurioMediaLibraryManager/base.html.twig' %}

{% trans_default_domain 'music' %}

{% set title = ((album.id ? 'edit': 'add') ~ '.label')|trans({ '%TITLE%': album.title }) %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
{{ form_start(form, { 'attr': { 'class': 'form-horizontal form-music' }}) }}
{{ form_errors(form) }}
	<div class="row">
		<div class="col-md-6">
{{ form_row(form.artist) }}
{{ form_row(form.title) }}
{{ form_row(form.media_type, { 'group_class': 'col-sm-3' }) }}
{{ form_row(form.ean, { 'group_class': 'col-sm-4' } ) }}
{{ form_row(form.publication_year, { 'group_class': 'col-sm-3' }) }}
{{ form_row(form.publisher) }}
{{ form_row(form.coverFile) }}
{{ form_row(form.cover_url) }}
		</div>
		<div class="col-md-6">
{%   set volumeNb = 1 %}
{#{%   set trackNb = form.tracks|length %}
{%	 set track = form.tracks[0] %} #}
			<table class="table" id="tracks">
				<caption>{{ form.tracks.vars.label|trans }}</caption>
				<thead>
					<tr>
						<th style="width: 10%">{% trans %}tracks.fields.track_number.label{% endtrans %}</th>
						<th style="width: 75%">{% trans %}tracks.fields.title.label{% endtrans %}</th>
						<th style="width: 15%">{% trans %}tracks.fields.duration.label{% endtrans %}</th>
						<th style="width: 10%">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
{% if form.tracks.vars is not empty %}
{%   for trackNb, track in form.tracks %}
{%     include '@FulgurioMediaLibraryManager/Music/addTrack.html.twig' with { 'trackNb': trackNb + 1 } %}
{%   endfor %}
{% endif %}
{#{% if app.request.request.get('addTrack') %}#}
{#{%   include '@FulgurioMediaLibraryManager/Music/addTrack.html.twig' with { 'trackNb': app.request.request.get('addTrack')[volumeNb] + 1, 'track': form.tracks.vars.prototype } %}#}
{#{% endif %}#}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4">
							<button type="submit" class="btn btn-primary pull-right" id="addTrack" name="addTrack[{{ volumeNb }}]" value="{{ form.tracks is not empty }}" tabindex="2">{% trans %}tracks.add{% endtrans %}</button>
						</td>
					</tr>
				</tfoot>
			</table>
			<script type="text/x-tmpl" id="tmpl-track">
{% include '@FulgurioMediaLibraryManager/Music/addTrackJs.html.twig' with { 'track': form.tracks.vars.prototype } %}
{% do form.tracks.setRendered %}
			</script>
		</div>
	</div>
	<div class="form-actions form-actions-fixed-bottom">
		<input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
        {{ form_row(form.submit) }}
		<a href="{{ path('FulgurioMLM_Music_List') }}" class="btn">{% trans from 'common' %}cancel{% endtrans %}</a>
	</div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block css %}
		<link href="{{ asset('bundles/fulguriomedialibrarymanager/bootstrap-fileinput/css/fileinput.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
{% if hasMusicService %}
		<script>
var searchUrl = '{{ path('FulgurioMLM_Music_Retrieve_Album_Infos') }}';
		</script>
		<script type="text/x-tmpl" id="tmpl-search-result">
			<div id="searchResult">
[% if (o.items.length) { %]
				<h3>{% trans from 'common' %}search.found_result{% endtrans %}</h3>
				<ul>
		[% for (var i in o.items) { %]
					<li data-index="[%=i%]">
			[% if (o.items[i].thumbnail) { %]
						<img src="[%=o.items[i].thumbnail%]" alt="" />
			[% } %]
						<div>
							<a>[%=o.items[i].artist%] - [%=o.items[i].title%]</a>
							<br />
							[%=o.items[i].publisher%]
							<br />
							[%=o.items[i].ean%]
						</div>
					</li>
		[% } %]
				</ul>
[% } else { %]
				<p>{% trans from 'common' %}search.no_result{% endtrans %}</p>
[% } %]
			</div>
		</script>
{% endif %}
{#		<script>
//var lyricsUrl = '{{ path('FulgurioMLM_Music_Retrieve_Track_Lyrics') }}';
		</script>#}
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/blueimp-tmpl/js/tmpl.js') }}"></script>
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/js/music.js') }}"></script>
{% include '@FulgurioMediaLibraryManager/popup.html.twig' %}
{% endblock %}
