{% extends 'FulgurioMediaLibraryManagerBundle::base.html.twig' %}

{% block content %}
{% if app.request.attributes.get('albumId') is null %}
			<h1>{% trans from 'music' %}add_new_album{% endtrans %}</h1>
			<form class="form-horizontal pull-left" method="post" action="{{ path('FulgurioMLM_Music_Add') }}" enctype="multipart/form-data">
{% else %}
			<h1>{% trans with {'%TITLE%': album.title} from 'music' %}edit_album{% endtrans %}</h1>
			<form class="form-horizontal" method="post" action="{{ path('FulgurioMLM_Music_Edit', {albumId: app.request.attributes.get('albumId')}) }}" enctype="multipart/form-data">
{% endif %}
				<fieldset class="pull-left">
{{ form_errors(form) }}
					<div class="control-group{% if form.artist.vars.errors is not empty %} error{% endif %}">
						<label class="control-label" for="inputArtist">{% trans from 'music' %}artist{% endtrans %}</label>
						<div class="controls">
							<input type="text" id="inputArtist" maxlength="{{ form.artist.vars.max_length }}" placeholder="{% trans from 'music' %}artist{% endtrans %}" name="{{ form.artist.vars.full_name }}" value="{{ form.artist.vars.value }}" />
{% if form.artist.vars.errors is not empty %}{% for error in form.artist.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.title.vars.errors is not empty %} error{% endif %}">
						<label class="control-label" for="inputTitle">{% trans from 'music' %}title{% endtrans %}</label>
						<div class="controls">
							<input type="text" id="inputTitle" maxlength="{{ form.title.vars.max_length }}" placeholder="{% trans from 'music' %}title{% endtrans %}" name="{{ form.title.vars.full_name }}" value="{{ form.title.vars.value }}" />
{% if form.title.vars.errors is not empty %}{% for error in form.title.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.ean.vars.errors is not empty %} error{% endif %}">
						<label class="control-label" for="inputEan">{% trans from 'music' %}ean{% endtrans %}</label>
						<div class="controls">
							<input type="text" id="inputEan" maxlength="{{ form.ean.vars.max_length }}" placeholder="{% trans from 'music' %}ean{% endtrans %}" name="{{ form.ean.vars.full_name }}" value="{{ form.ean.vars.value }}" />
{% if form.ean.vars.errors is not empty %}{% for error in form.ean.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.media_type.vars.errors is not empty %} error{% endif %}">
						<label class="control-label" for="inputMediaType">{% trans from 'music' %}media_type{% endtrans %}</label>
						<div class="controls">
							<select id="inputMediaType" class="input-mini" name="{{ form.media_type.vars.full_name }}">
{% for media_type in form.media_type.vars.choices %}
							<option value="{{ media_type.value }}"{% if media_type.value == form.media_type.vars.value %} selected="selected"{% endif %}>{{ media_type.label }}</option>
{% endfor %}
							</select>
{% if form.media_type.vars.errors is not empty %}{% for error in form.media_type.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.publication_year.vars.errors is not empty %} error{% endif %}">
						<label class="control-label" for="inputPublicationDate">{% trans from 'music' %}publication_year{% endtrans %}</label>
						<div class="controls">
							<input type="text" class="input-mini" id="inputPublicationDate" placeholder="{% trans from 'music' %}publication_year{% endtrans %}" name="{{ form.publication_year.vars.full_name }}" value="{{ form.publication_year.vars.value }}" />
{% if form.publication_year.vars.errors is not empty %}{% for error in form.publication_year.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.publisher.vars.errors is not empty %} error{% endif %}">
						<label class="control-label" for="inputPublisher">{% trans from 'music' %}publisher{% endtrans %}</label>
						<div class="controls">
							<input type="text" id="inputPublisher" maxlength="{{ form.publisher.vars.max_length }}" placeholder="{% trans from 'music' %}publisher{% endtrans %}" name="{{ form.publisher.vars.full_name }}" value="{{ form.publisher.vars.value }}" />
{% if form.publisher.vars.errors is not empty %}{% for error in form.publisher.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.file.vars.errors is not empty %} error{% endif %}">
						<label class="control-label" for="inputCover">{% trans from 'music' %}cover{% endtrans %}</label>
						<div class="controls">
							<input type="hidden" id="inputCoverUrl" name="{{ form.cover_url.vars.full_name }}" value="{{ form.cover_url.vars.value }}" />
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="fileupload-new thumbnail" id="thumbnail" style="width: 50px; height: 50px;"><img src="{% if app.request.attributes.get('albumId') is null %}http://www.placehold.it/50x50/EFEFEF/AAAAAA{% else %}{% if album.webpath is null %}http://www.placehold.it/50x50/EFEFEF/AAAAAA{% else %}/{{ album.webpath }}{% endif %}{% endif %}" alt="" /></div>
								<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
								<span class="btn btn-file"><span class="fileupload-new">{% trans from 'common' %}select_image{% endtrans %}</span><span class="fileupload-exists">{% trans from 'common' %}change_image{% endtrans %}</span><input id="inputCover" type="file" name="{{ form.file.vars.full_name }}" /></span>
								<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{% trans from 'common' %}remove_image{% endtrans %}</a>
							</div>
{% if form.file.vars.errors is not empty %}{% for error in form.file.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
						</div>
					</div>
{%   set volumeNb = 1 %}
{#{%   set trackNb = form.tracks|length %}
{%	 set track = form.tracks[0] %}
#}					<div>
						<ol id="tracks">
{% if form.tracks.vars is not empty %}
{%   for trackNb, track in form.tracks %}
{%     set trackNb = trackNb + 1 %}
{%     include 'FulgurioMediaLibraryManagerBundle:Music:addTrack.html.twig' %}
{%   endfor %}
{% endif %}
{% if app.request.request.get('addTrack') %}
{%   set trackNb = app.request.request.get('addTrack')[volumeNb] + 1 %}
{%   set track = form.tracks.vars.prototype %}
{%   include 'FulgurioMediaLibraryManagerBundle:Music:addTrack.html.twig' %}
{% endif %}
						</ol>
						<button type="submit" class="btn btn-primary pull-right" id="addTrack" name="addTrack[{{ volumeNb }}]" value="{{ form.tracks is not empty }}" tabindex="2">{% trans from 'music' %}add_track{% endtrans %}</button>
					</div>
				</fieldset>
				<div class="pull-right" id="searchResult"></div>
				<div class="clearfix"></div>
				<div class="form-actions">
					<input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
					<button type="submit" class="btn btn-primary" name="realSubmit" value="1" tabindex="1">{% trans from 'common' %}save{% endtrans %}</button>
					<a href="{{ path('FulgurioMLM_Music_List') }}" class="btn">{% trans from 'common' %}cancel{% endtrans %}</a>
				</div>
			</form>
{% include 'FulgurioMediaLibraryManagerBundle::popup.html.twig' %}
{% endblock %}

{% block css %}
		<link href="{{ asset('bundles/fulguriomedialibrarymanager/css/bootstrap-fileupload.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
		<script type="text/x-tmpl" id="tmpl-track">
{% set track = form.tracks.vars.prototype %}
{% include 'FulgurioMediaLibraryManagerBundle:Music:addTrackJs.html.twig' %}
		</script>
		<script>
{% if app.request.attributes.get('albumId') is null %}
var searchUrl = '{{ path('FulgurioMLM_Music_Retrieve_Album_Infos') }}';
{% else %}
var searchUrl;
{% endif %}
var lyricsUrl = '{{ path('FulgurioMLM_Music_Retrieve_Track_Lyrics') }}';
		</script>
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/js/bootstrap-fileupload.min.js') }}"></script>
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/js/tmpl.min.js') }}"></script>
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/js/music.js') }}"></script>
{% endblock %}