{% extends 'FulgurioMediaLibraryManagerBundle::base.html.twig' %}
{% block css %}
		<link href="{{ asset('bundles/fulguriomedialibrarymanager/css/bootstrap-fileupload.min.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/fulguriomedialibrarymanager/css/mlm.css') }}" rel="stylesheet">
{% endblock %}
{% block javascript %}
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/js/bootstrap-fileupload.min.js') }}"></script>
{% if hasMediaInfo() %}
{%   if app.request.attributes.get('albumId') is null %}
		<script>
var searchUrl = '{{ path('FulgurioMLM_Music_Retrieve_Album_Infos') }}';
jQuery(document).ready(function() {
	$('#inputTitle').on('keyup', function(e) {
		if ($(this).attr('value').length > 1)
		{
			if (!$(this).hasClass('span2'))
			{
				$(this).addClass('span2');
				var elt = $('<button id="retrieveBtn" type="button" class="btn"><i class="icon-refresh"></i></button>');
				$(elt).click(getAlbumsList);
				$(this).after(elt);
			}
			else
			{
				$("#retrieveBtn").attr('disabled', false);
			}
		}
	});
});
		</script>
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/js/music.js') }}"></script>
{%   endif %}
{% endif %}
{% if useAmazon() %}
{%   if app.request.attributes.get('albumId') is null %}
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/js/amazonMusic.js') }}"></script>
		<script>
var amazonSearchUrl = '{{ path('FulgurioMLM_Amazon_Music_Search') }}';
		</script>
{%   endif %}
{% endif %}
		<script>
function addTagForm(discNb, trackNb) {
	var prototype = $('#tracks').attr('data-prototype');
	var newForm = prototype.replace(/{{ form.tracks.vars.prototype.get('name') }}/g, trackNb);
	newForm = newForm.replace(/VOLUME_NB/g, discNb);
	return $('#tracks').append(newForm);
}
jQuery(document).ready(function() {
	$('#addTrack').on('click', function(e) {
		e.preventDefault();
		addTagForm(1, $('#tracks').find('li').length + 1);
	});
});
		</script>
{% endblock %}
{% block content %}
{% if app.request.attributes.get('albumId') is null %}
			<h1>{% trans %}fulgurio.medialibrarymanager.music.add_new_album{% endtrans %}</h1>
			<form class="form-horizontal pull-left" method="post" action="{{ path('FulgurioMLM_Music_Add') }}" enctype="multipart/form-data">
{% else %}
			<h1>{% trans with {'%TITLE%': album.title} %}fulgurio.medialibrarymanager.music.edit_album{% endtrans %}</h1>
			<form class="form-horizontal" method="post" action="{{ path('FulgurioMLM_Music_Edit', {albumId: app.request.attributes.get('albumId')}) }}" enctype="multipart/form-data">
{% endif %}
				<fieldset class="pull-left">
{{ form_errors(form) }}
					<div class="control-group{% if form.getChild('artist').get('errors') %} error{% endif %}">
						<label class="control-label" for="inputArtist">{% trans %}fulgurio.medialibrarymanager.music.artist{% endtrans %}</label>
						<div class="controls">
							<input type="text" id="inputArtist" maxlength="{{ form.getChild('artist').get('max_length') }}" placeholder="{% trans %}fulgurio.medialibrarymanager.music.artist{% endtrans %}" name="{{ form.getChild('artist').get('full_name') }}" value="{{ form.getChild('artist').get('value') }}" />
{% if form.getChild('artist').get('errors') %}{% for error in form.getChild('artist').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.getChild('title').get('errors') %} error{% endif %}">
						<label class="control-label" for="inputTitle">{% trans %}fulgurio.medialibrarymanager.music.title{% endtrans %}</label>
						<div class="controls">
							<input type="text" id="inputTitle" maxlength="{{ form.getChild('title').get('max_length') }}" placeholder="{% trans %}fulgurio.medialibrarymanager.music.title{% endtrans %}" name="{{ form.getChild('title').get('full_name') }}" value="{{ form.getChild('title').get('value') }}" />
{% if form.getChild('title').get('errors') %}{% for error in form.getChild('title').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.getChild('ean').get('errors') %} error{% endif %}">
						<label class="control-label" for="inputEan">{% trans %}fulgurio.medialibrarymanager.music.ean{% endtrans %}</label>
						<div class="controls">
							<input type="text" id="inputEan" maxlength="{{ form.getChild('ean').get('max_length') }}" placeholder="{% trans %}fulgurio.medialibrarymanager.music.ean{% endtrans %}" name="{{ form.getChild('ean').get('full_name') }}" value="{{ form.getChild('ean').get('value') }}" />
{% if form.getChild('ean').get('errors') %}{% for error in form.getChild('ean').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.getChild('media_type').get('errors') %} error{% endif %}">
						<label class="control-label" for="inputMediaType">{% trans %}fulgurio.medialibrarymanager.music.media_type{% endtrans %}</label>
						<div class="controls">
							<select id="inputMediaType" class="input-mini" name="{{ form.getChild('media_type').get('full_name') }}">
{% for media_type in form.getChild('media_type').get('choices') %}
							<option value="{{ media_type.value }}"{% if media_type.value == form.getChild('media_type').get('value') %} selected="selected"{% endif %}>{{ media_type.label }}</option>
{% endfor %}
							</select>
{% if form.getChild('media_type').get('errors') %}{% for error in form.getChild('media_type').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.getChild('publication_year').get('errors') %} error{% endif %}">
						<label class="control-label" for="inputPublicationDate">{% trans %}fulgurio.medialibrarymanager.music.publication_year{% endtrans %}</label>
						<div class="controls">
							<input type="text" class="input-mini" id="inputPublicationDate" placeholder="{% trans %}fulgurio.medialibrarymanager.music.publication_year{% endtrans %}" name="{{ form.getChild('publication_year').get('full_name') }}" value="{{ form.getChild('publication_year').get('value') }}" />
{% if form.getChild('publication_year').get('errors') %}{% for error in form.getChild('publication_year').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.getChild('publisher').get('errors') %} error{% endif %}">
						<label class="control-label" for="inputPublisher">{% trans %}fulgurio.medialibrarymanager.music.publisher{% endtrans %}</label>
						<div class="controls">
							<input type="text" id="inputPublisher" maxlength="{{ form.getChild('publisher').get('max_length') }}" placeholder="{% trans %}fulgurio.medialibrarymanager.music.publisher{% endtrans %}" name="{{ form.getChild('publisher').get('full_name') }}" value="{{ form.getChild('publisher').get('value') }}" />
{% if form.getChild('publisher').get('errors') %}{% for error in form.getChild('publisher').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}
						</div>
					</div>
					<div class="control-group{% if form.getChild('file').get('errors') %} error{% endif %}">
						<label class="control-label" for="inputCover">{% trans %}fulgurio.medialibrarymanager.music.cover{% endtrans %}</label>
						<div class="controls">
							<input type="hidden" id="inputCoverUrl" name="{{ form.getChild('cover_url').get('full_name') }}" value="{{ form.getChild('cover_url').get('value') }}" />
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="fileupload-new thumbnail" id="thumbnail" style="width: 50px; height: 50px;"><img src="{% if app.request.attributes.get('albumId') is null %}http://www.placehold.it/50x50/EFEFEF/AAAAAA{% else %}{% if album.webpath is null %}http://www.placehold.it/50x50/EFEFEF/AAAAAA{% else %}/{{ album.webpath }}{% endif %}{% endif %}" alt="" /></div>
								<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
								<span class="btn btn-file"><span class="fileupload-new">{% trans %}fulgurio.medialibrarymanager.common.select_image{% endtrans %}</span><span class="fileupload-exists">{% trans %}fulgurio.medialibrarymanager.common.change_image{% endtrans %}</span><input id="inputCover" type="file" name="{{ form.getChild('file').get('full_name') }}" /></span>
								<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{% trans %}fulgurio.medialibrarymanager.common.remove_image{% endtrans %}</a>
							</div>
{% if form.getChild('file').get('errors') %}{% for error in form.getChild('file').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}
						</div>
					</div>
{%   set volumeNb = 1 %}
{%   set trackNb = form.tracks.vars.prototype.get('name') %}
{%	 set track = form.tracks.vars.prototype %}
					<div>
						<ol id="tracks" data-prototype="{{ '<li><span>' ~ 'fulgurio.medialibrarymanager.music.track_n'|trans({'%TRACK_NB%': trackNb}) ~ '</span><div class="control-group"><label class="control-label" for="inputTrackTitle_VOLUME_NB_' ~ trackNb ~ '">' ~ 'fulgurio.medialibrarymanager.music.track.title'|trans ~ '</label><div class="controls"><input type="text" id="inputTrackTitle_VOLUME_NB_' ~ trackNb ~ '" maxlength="' ~ track.getChild('title').get('max_length') ~ '" placeholder="' ~ 'fulgurio.medialibrarymanager.music.track.title'|trans ~ '" name="' ~ track.getChild('title').get('full_name') ~ '" value="' ~ track.getChild('title').get('value') ~ '"></div></div><div class="control-group"><label class="control-label" for="inputTrackDuration_VOLUME_NB_' ~ trackNb ~ '">' }}{{ 'fulgurio.medialibrarymanager.music.track.duration'|trans ~ '</label><div class="controls"><input type="text" class="input-mini" id="inputTrackDuration_VOLUME_NB_' ~ trackNb ~ '" placeholder="' ~ 'fulgurio.medialibrarymanager.music.track.duration'|trans ~ '" name="' ~ track.getChild('duration').get('full_name') ~ '" value="' ~ track.getChild('duration').get('value') ~ '" /></div></div><div class="control-group"><label class="control-label" for="inputTrackLyrics_VOLUME_NB_' ~ trackNb ~ '">' ~ 'fulgurio.medialibrarymanager.music.track.lyrics'|trans ~ '</label><div class="controls"><textarea id="inputTrackLyrics_VOLUME_NB_' ~ trackNb ~ '" placeholder="' ~ 'fulgurio.medialibrarymanager.music.track.lyrics'|trans ~ '" name="' ~ track.getChild('lyrics').get('full_name') ~ '">' ~ track.getChild('lyrics').get('value') ~ '</textarea></div></div></li>' }}">
{% if form.getChild('tracks').getChildren()|length > 0 %}
{%   for trackNb, track in form.getChild('tracks').getChildren() %}
{%     set trackNb = trackNb + 1 %}
{%     include 'FulgurioMediaLibraryManagerBundle:Music:addTrack.html.twig' %}
{%   endfor %}
{% endif %}
{% if app.request.request.get('addTrack') %}
{%     set trackNb = app.request.request.get('addTrack')[volumeNb] + 1 %}
{%     set track = form.tracks.vars.prototype %}
{% include 'FulgurioMediaLibraryManagerBundle:Music:addTrack.html.twig' %}
{% endif %}
						</ol>
						<button type="submit" class="btn btn-primary pull-right" id="addTrack" name="addTrack[{{ volumeNb }}]" value="{{ form.getChild('tracks').getChildren()|length }}" tabindex="2">{% trans %}fulgurio.medialibrarymanager.music.add_track{% endtrans %}</button>
					</div>
				</fieldset>
				<div class="pull-right" id="searchResult"></div>
				<div class="clearfix"></div>
				<div class="form-actions">
					<input type="hidden" name="{{ form.getChild('_token').get('full_name') }}" value="{{ form.getChild('_token').get('value') }}" />
					<button type="submit" class="btn btn-primary" name="realSubmit" value="1" tabindex="1">{% trans %}fulgurio.medialibrarymanager.common.save{% endtrans %}</button>
					<a href="{{ path('FulgurioMLM_Music_List') }}" class="btn">{% trans %}fulgurio.medialibrarymanager.common.cancel{% endtrans %}</a>
				</div>
			</form>
{% include 'FulgurioMediaLibraryManagerBundle::popup.html.twig' %}
{% endblock %}