							<tr id="track_[%=o.trackNb%]">
								<td>[%=o.trackNb%]</td>
								<td>{{ form_widget(track.title) }}</td>
								<td>{{ form_widget(track.duration) }}</td>
								<td><button type="button" class="btn btn-remove-track"><i class="glyphicon glyphicon-trash"></i></button></td>
							</tr>
							<tr class="lyrics-line">
								<td colspan="4">
                                    {{ form_row(track.lyrics, { 'label_attr': { 'class': 'col-sm-12' }, 'group_class': 'col-sm-12' }) }}
								</td>
							</tr>
{#{{ form_row(track.volumeNb) }}#}
{#{{ form_row(track.trackNb) }}#}
