							<li data-track="[%=o.discNb%]_[%=o.trackNb%]">
								<span>{% trans %}fulgurio.medialibrarymanager.music.track_n{% endtrans %}</span>
								<button type="button" class="btn btn-remove-track"><i class="icon icon-remove"></i></button>
{#}								<input type="hidden" name="{{ track.getChild('volume_number').get('full_name') }}" value="[%=o.discNb%]" />
								<input type="hidden" name="{{ track.getChild('track_number').get('full_name') }}" value="[%=o.trackNb%]" />
#}								<div class="control-group{% if track.getChild('title').get('errors') %} error{% endif %}">
									<label class="control-label" for="inputTrackTitle_[%=o.discNb%]_[%=o.trackNb%]">{% trans %}fulgurio.medialibrarymanager.music.track.title{% endtrans %}</label>
									<div class="controls">
									<input type="text" id="inputTrackTitle_[%=o.discNb%]_[%=o.trackNb%]" maxlength="{{ track.getChild('title').get('max_length') }}" placeholder="{% trans %}fulgurio.medialibrarymanager.music.track.title{% endtrans %}" name="{{ track.getChild('title').get('full_name') }}" value="{{ track.getChild('title').get('value') }}" />
{#{% if track.getChild('title').get('errors') %}{% for error in track.getChild('title').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}#}
									</div>
								</div>
								<div class="control-group{% if track.getChild('duration').get('errors') %} error{% endif %}">
									<label class="control-label" for="inputTrackDuration_[%=o.discNb%]_[%=o.trackNb%]">{% trans %}fulgurio.medialibrarymanager.music.track.duration{% endtrans %}</label>
									<div class="controls">
									<input type="text" class="input-mini" id="inputTrackDuration_[%=o.discNb%]_[%=o.trackNb%]" placeholder="{% trans %}fulgurio.medialibrarymanager.music.track.duration{% endtrans %}" name="{{ track.getChild('duration').get('full_name') }}" value="{{ track.getChild('duration').get('value') }}" />
{#{% if track.getChild('duration').get('errors') %}{% for error in track.getChild('duration').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}#}
									</div>
								</div>
								<div class="control-group{% if track.getChild('lyrics').get('errors') %} error{% endif %}">
									<label class="control-label" for="inputTrackLyrics_[%=o.discNb%]_[%=o.trackNb%]">{% trans %}fulgurio.medialibrarymanager.music.track.lyrics{% endtrans %}</label>
									<div class="controls">
									<textarea id="inputTrackLyrics_[%=o.discNb%]_[%=o.trackNb%]" placeholder="{% trans %}fulgurio.medialibrarymanager.music.track.lyrics{% endtrans %}" name="{{ track.getChild('lyrics').get('full_name') }}">{{ track.getChild('lyrics').get('value') }}</textarea>
									<button type="button" class="btn btn-lyrics-track"><i class="icon-refresh"></i></button>
{#{% if track.getChild('lyrics').get('errors') %}{% for error in track.getChild('lyrics').get('errors') %}							<span class="help-inline">{{ error.messageTemplate|trans }}</span>{% endfor %}{% endif %}#}
									</div>
								</div>
							</li>
