							<li data-track="{{ volumeNb }}_{{ trackNb }}">
								<span>{% trans with {'%TRACK_NB%': trackNb} %}track_n{% endtrans %}</span>
								<button type="button" class="btn btn-remove-track"><i class="icon icon-remove"></i></button>
{#								<input type="hidden" name="{{ track.volume_number.vars.full_name }}" value="{{ volumeNb }}" />
								<input type="hidden" name="{{ track.track_number.vars.full_name }}" value="{{ trackNb }}" />
#}								<div class="control-group{% if track.title.vars.errors is not empty %} error{% endif %}">
									<label class="control-label" for="inputTrackTitle_{{ volumeNb }}_{{ trackNb }}">{{ track.title.vars.label|trans }}</label>
									<div class="controls">
										<input type="text" id="inputTrackTitle_{{ volumeNb }}_{{ trackNb }}" maxlength="{{ track.title.vars.max_length }}" placeholder="{{ track.title.vars.label|trans }}" name="{{ track.title.vars.full_name }}" value="{{ track.title.vars.value }}" />
{% if track.title.vars.errors is not empty %}{% for error in track.title.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
									</div>
								</div>
								<div class="control-group{% if track.duration.vars.errors is not empty %} error{% endif %}">
									<label class="control-label" for="inputTrackDuration_{{ volumeNb }}_{{ trackNb }}">{{ track.duration.vars.label|trans }}</label>
									<div class="controls">
										<input type="text" class="input-mini" id="inputTrackDuration_{{ volumeNb }}_{{ trackNb }}" placeholder="{{ track.duration.vars.label|trans }}" name="{{ track.duration.vars.full_name }}" value="{{ track.duration.vars.value }}" />
{% if track.duration.vars.errors is not empty %}{% for error in track.duration.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
									</div>
								</div>
								<div class="control-group{% if track.lyrics.vars.errors is not empty %} error{% endif %}">
									<label class="control-label" for="inputTrackLyrics_{{ volumeNb }}_{{ trackNb }}">{{ track.lyrics.vars.label|trans }}</label>
									<div class="controls">
										<textarea id="inputTrackLyrics_{{ volumeNb }}_{{ trackNb }}" placeholder="{{ track.lyrics.vars.label|trans }}" name="{{ track.lyrics.vars.full_name }}">{{ track.lyrics.vars.value }}</textarea>
										<button type="button" class="btn btn-lyrics-track"><i class="icon-refresh"></i></button>
{% if track.lyrics.vars.errors is not empty %}{% for error in track.lyrics.vars.errors %}							<span class="help-inline">{{ error.messageTemplate|trans({}, 'music') }}</span>{% endfor %}{% endif %}
									</div>
								</div>
							</li>
