{#
<ul>
	<li data-prototype="{asin:'B00005R09Z'}">
		<img src="http://ecx.images-amazon.com/images/I/41J62Z1A7WL._SL75_.jpg" alt="" />
		<div>
			<a>The cure - the cure}</a><br />
			Elektra<br />
			0075596272629
		</div>
	</li>
	<li data-prototype="{ean:'0075596085526'}">
		<img src="http://ecx.images-amazon.com/images/I/512VMZJNJgL._SL75_.jpg" alt="" />
		<div>
			<a>The cure - Desintegration</a><br />
			Elektra<br />
			0075596085526 (B000002H70)
		</div>
	</li>
	<li data-prototype="{asin:'B0077YTP2Q'}">
		<img src="http://ecx.images-amazon.com/images/I/51BSI-0tOmL._SL75_.jpg" alt="" />
		<div>
			<a>The cure - The Head On The Door (2cds)</a><br />
		</div>
	</li>
	<li data-prototype="{asin:'B003Z0FSDQ'}">
		<img src="http://ecx.images-amazon.com/images/I/41ReBL%2BKqQL._SL75_.jpg" alt="" />
		<div>
			<a>The cure - disintegration with duration</a><br />
		</div>
	</li>
	<li data-prototype="{ean:'5099902894423'}">
		<img src="http://ecx.images-amazon.com/images/I/41l9dGZyPzL._SL75_.jpg" alt="" />
		<div>
			<a>Pink Floyd - The Wall</a><br />
			Capitol Records
		</div>
	</li>
</ul>
#}
{% if TotalResults <= 0 %}
<p>{% trans %}fulgurio.medialibrarymanager.common.no_result{% endtrans %}</p>
{% else %}
<ul>
{%   for item in items.Item %}
	<li data-prototype="{asin:'{{ item.ASIN }}'}">
{%     if item.SmallImage is defined %}<img src="{{ item.SmallImage.URL }}" alt="" />{% endif %}
		<div>
			<a>{%if item.ItemAttributes.Artist is defined %}{{ item.ItemAttributes.Artist }} - {% endif %}{{ item.ItemAttributes.Title }}</a><br />
			{% if item.ItemAttributes.Publisher is defined %}{{ item.ItemAttributes.Publisher }}<br />{% endif %}
			{% if item.ItemAttributes.EAN is defined %}{{ item.ItemAttributes.EAN }}{% endif %}
		</div>
	</li>
{%   endfor %}
</ul>
{% endif %}
