{% extends 'FulgurioMediaLibraryManagerBundle::base.html.twig' %}

{% block content %}
			<h1>{% trans from 'music' %}music.title{% endtrans %}</h1>
{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="row alert alert-success">{{ flashMessage|trans({}, 'music') }}<br /></div>
{% endfor %}
			<form method="post" action="{{ path('FulgurioMLM_Music_List') }}">
				<div class="row">
{% if albums is not empty or app.request.get('q') is not null %}
					<div class="col-xs-12 col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" name="q" value="{{ app.request.get('q') }}">
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default">{% trans from 'common' %}search{% endtrans %}</button>
							  </span>
						</div>
					</div>
{% endif %}
					<div class="col-xs-12 col-sm-8{% if albums is empty and app.request.get('q') is null %} col-sm-offset-4{% endif %}">
						<div class="input-group pull-right">
							<a class="btn btn-primary" href="{{ path('FulgurioMLM_Music_Add') }}">{% trans from 'music' %}add_new_album{% endtrans %}</a>
						</div>
					</div>
				</div>
{% if albums is empty %}
				<p class="no-result">{% trans from 'music' %}no_album{% endtrans %}</p>
{% else %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width: 10%">{#Cover#}</th>
							<th style="width: 40%">{{ knp_pagination_sortable(albums, 'artist.label'|trans({}, 'music'), 'ma.artist')|raw }}</th>
							<th style="width: 44%">{{ knp_pagination_sortable(albums, 'title.label'|trans({}, 'music'), 'ma.title')|raw }}</th>
							<th style="width: 6%">{#Options#}</th>
						</tr>
					</thead>
					<tbody>
{%   for album in albums %}
						<tr>
							<td>
{%     if album.cover is null %}
<img src="http://www.placehold.it/75x75/EFEFEF/AAAAAA" class="img-polaroid" alt="{{ album.artist }} - {{ album.title }}">
{%     else %}
<a data-target="#lightbox" data-toggle="lightbox" data-image="{{ vich_uploader_asset(album, 'coverFile') }}" href="{{ vich_uploader_asset(album, 'coverFile') }}"><img src="{{ vich_uploader_asset(album, 'coverFile')|imagine_filter('music_cover_thumb') }}" class="img-polaroid" alt="{{ album.artist }} - {{ album.title }}"></a>
{%     endif %}
							</td>
							<td>{{ album.artist }}</td>
							<td>{{ album.title }}</td>
							<td>
								<a href="{{ path('FulgurioMLM_Music_Edit', {albumId: album.id}) }}" title="{% trans from 'common' %}edit{% endtrans %}" class="glyphicon glyphicon-pencil"></a>
								<a href="{{ path('FulgurioMLM_Music_Remove', {albumId: album.id}) }}" title="{% trans from 'common' %}delete{% endtrans %}" class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></a>
							</td>
						</tr>
{%   endfor %}
					</tbody>
				</table>
{{ knp_pagination_render(albums, 'FulgurioMediaLibraryManagerBundle::pagination.html.twig')|raw }}
			</form>
{% endif %}
{% endblock %}

{% block css %}
		<link href="{{ asset('bundles/fulguriomedialibrarymanager/ekko-lightbox/dist/ekko-lightbox.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/ekko-lightbox/dist/ekko-lightbox.min.js') }}"></script>
		<script>
			$(document).on('click', '[data-toggle="lightbox"]', function(event) {
				event.preventDefault();
				$(this).ekkoLightbox();
			});
		</script>
{% include 'FulgurioMediaLibraryManagerBundle::popup.html.twig' %}
{% endblock %}