{% extends 'FulgurioMediaLibraryManagerBundle::base.html.twig' %}
{% block content %}
			<h1>{% trans from 'music' %}music.title{% endtrans %}</h1>
{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="alert alert-success">{{ flashMessage|trans({}, 'music') }}<br /></div>
{% endfor %}
			<form method="post" action="{{ path('FulgurioMLM_Music_List') }}">
{% if albums is not empty or app.request.get('q') is not null %}
				<div class="input-append pull-left">
					<input type="text" class="span2" name="q" value="{{ app.request.get('q') }}">
					<button type="submit" class="btn">{% trans from 'common' %}search{% endtrans %}</button>
				</div>
{% endif %}
			<div class="clearfix">
				<a class="btn pull-right" href="{{ path('FulgurioMLM_Music_Add') }}">{% trans from 'music' %}add_new_album{% endtrans %}</a>
			</div>
{% if albums is empty %}
			<p>{% trans from 'music' %}no_album{% endtrans %}</p>
{% else %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{#Cover#}</th>
							<th>{{ knp_pagination_sortable(albums, 'artist.label'|trans({}, 'music'), 'ma.artist')|raw }}</th>
							<th>{{ knp_pagination_sortable(albums, 'title.label'|trans({}, 'music'), 'ma.title')|raw }}</th>
							<th>{#Options#}</th>
						</tr>
					</thead>
					<tbody>
{%   for album in albums %}
						<tr>
							<td>
{%     if album.cover is null %}
<img src="http://www.placehold.it/75x75/EFEFEF/AAAAAA" class="img-polaroid" alt="{{ album.artist }} - {{ album.title }}">
{%     else %}
<a data-target="#lightbox" data-toggle="lightbox" data-image="{{ vich_uploader_asset(album, 'coverFile') }}" href="{{ vich_uploader_asset(album, 'coverFile') }}"><img src="{{ vich_uploader_asset(album, 'coverFile') }}" class="img-polaroid" alt="{{ album.artist }} - {{ album.title }}"></a>
{%     endif %}
							</td>
							<td>{{ album.artist }}</td>
							<td>{{ album.title }}</td>
							<td>
								<a href="{{ path('FulgurioMLM_Music_Edit', {albumId: album.id}) }}" title="{% trans from 'common' %}edit{% endtrans %}" class="icon-edit"></a>
								<a href="{{ path('FulgurioMLM_Music_Remove', {albumId: album.id}) }}" title="{% trans from 'common' %}delete{% endtrans %}" class="icon-remove-circle" data-toggle="modal" data-target="#myModal"></a>
							</td>
						</tr>
{%   endfor %}
					</tbody>
				</table>
{{ knp_pagination_render(albums, 'FulgurioMediaLibraryManagerBundle::pagination.html.twig')|raw }}
			</form>
{% endif %}
{% endblock %}

{% block css %}
		<link href="{{ asset('bundles/fulguriomedialibrarymanager/css/bootstrap-lightbox.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
		<script src="{{ asset('bundles/fulguriomedialibrarymanager/js/bootstrap-lightbox.min.js') }}"></script>
{% include 'FulgurioMediaLibraryManagerBundle::popup.html.twig' %}
{% include 'FulgurioMediaLibraryManagerBundle::lightbox.html.twig' %}
{% endblock %}