{% extends 'FulgurioMediaLibraryManagerBundle::base.html.twig' %}
{% block content %}
			<h1>{% trans %}fulgurio.medialibrarymanager.music.music{% endtrans %}</h1>
{% if app.session.hasFlash('notice') %}			<div class="alert alert-success">{{ app.session.flash('notice')|trans }}</div>{% endif %}
{% if albums is not empty %}
			<form method="post" action="{{ path('FulgurioMLM_Music_List') }}">
				<div class="input-append pull-left">
					<input type="text" class="span2" name="q" value="{{ app.request.get('q') }}">
					<button type="submit" class="btn">{% trans %}fulgurio.medialibrarymanager.common.search{% endtrans %}</button>
				</div>
{% endif %}
			<div class="clearfix">
				<a class="btn pull-right" href="{{ path('FulgurioMLM_Music_Add') }}">{% trans %}fulgurio.medialibrarymanager.music.add_new_album{% endtrans %}</a>
			</div>
{% if albums is empty %}
			<p>{% trans %}fulgurio.medialibrarymanager.music.no_album{% endtrans %}</p>
{% else %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{#Cover#}</th>
							<th>{{ albums.sortable('fulgurio.medialibrarymanager.music.artist'|trans, 'ma.artist')|raw }}</th>
							<th>{{ albums.sortable('fulgurio.medialibrarymanager.music.title'|trans, 'ma.title')|raw }}</th>
							<th>{#Options#}</th>
						</tr>
					</thead>
					<tbody>
{% for album in albums %}
						<tr>
							<td><img src="{% if album.webpath is null %}http://www.placehold.it/50x50/EFEFEF/AAAAAA{% else %}/{{ album.thumbnailUrl}}{% endif %}" class="img-polaroid" alt="{{ album.artist }} - {{ album.title }}"></td>
							<td>{{ album.artist }}</td>
							<td>{{ album.title }}</td>
							<td>
								<a href="{{ path('FulgurioMLM_Music_Edit', {albumId: album.id}) }}" class="icon-edit"></a>
								<a href="{{ path('FulgurioMLM_Music_Remove', {albumId: album.id}) }}" class="icon-remove-circle" data-toggle="modal" data-target="#myModal"></a>
							</td>
						</tr>
{% endfor %}
					</tbody>
				</table>
{{ albums.render('FulgurioMediaLibraryManagerBundle::pagination.html.twig')|raw }}
			</form>
{% include 'FulgurioMediaLibraryManagerBundle::popup.html.twig' %}
{% endif %}
{% endblock %}